name: ci-build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: |
          go mod download
      - uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 5000s --verbose
          skip-cache: true
      - run: |
          go build -v .
